
<div id="result"></div>
<div class="main-menu">

    <hr class="style2">
        <ul class="menu">
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Начало
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Създаване на нов пост
                </a>
            </li>

            <li class="single-menu-element"><a href="#/" class="single-menu-element-link">Рецепти</a>
                <ul class="sub-menu">
                    <li><a href="#">Салати</a></li>
                    <li><a href="#">Разядки</a></li>
                    <li><a href="#">Супи</a></li>
                    <li><a href="#">Основни</a></li>
                    <li><a href="#">Десерти</a></li>
                </ul>
            </li>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    За мен
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Изход
                </a>
            </li>
        </ul>
    <hr>

</div>

<aside class="sidebar">
<h2 class="recent-posts-title">Последни постове</h2>
    <img src="images/heart-dividers-2.png" id="sidebar-image" alt="divider">

    <ul class="recent-posts">
    </ul>
</aside>

<main class="main-content">
    <ul class="articles" id="article">
    </ul>
    <footer>
        <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
    </footer>
</main>